.ContactInfo {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.input {
    display: block;
}

@media (min-width: 601px) {
    .ContactInfo {
        width: 500px;
    }
}
